.fondo{
    background-image: url(../multimedia/clinica-dental-.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}

.row-nosotros {
    display: flex;
    justify-content: center;
}